<a href="https://colab.research.google.com/github/HugoStigletz/Data-Analytics-Portfolio/blob/main/Money_Laundering_Evidence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Goal

The FBI has seized Howie's records as part of the investigation and stored them in the hotel_evidence.csv file.  You may work in groups to use your data-wrangling skills to find the 10 falsified records in Howie's database and determine how much endangered baby rhino money he has laundered.

#Tools
You'll be using data-wrangling techniques and functions like:
* `df.value_counts()`
* `df.describe()`
* `df.loc()`
* `plt.boxplot()`
* `pd.crosstab()`

#Evaluation â€“ Rubric
TBD
#Submission Instructions 
You will submit this completed .ipynb file along with your evidence summary in Canvas.
#Due Date 
TBD

#Step 1: Download and save the `hotel_evidence.csv` dataset from the class materials.

* Make a note of where you saved the file on your computer.

#Step 2: Upload the hotel_evidence.csv dataset by running the following code block. 

* When prompted, navigate to and select the `hotel_evidence.csv` dataset where you saved it on your computer.

In [ ]:
#Step 2

from google.colab import files
hotel_evidence = files.upload()

Saving hotel_evidence.csv to hotel_evidence.csv

#Step 3: Import necessary packages.
  * Import `pandas` as `pd`
  * import `matplotlib.pyplot` as `plt`

In [ ]:
#Step 3
import pandas as pd
import matplotlib.pyplot as plt

# Step 4: Create a Pandas DataFrame from the CSV file.
* Name the DataFrame `hotel_evidence`.
* Print the first five observations of `hotel_evidence`.  Note the kinds of data it contains.

In [ ]:
hotel_evidence.shape

(119390, 38)

In [ ]:
#Step 4
hotel_evidence = pd.read_csv('/content/6.10 FINAL hotel_evidence.csv')

hotel_evidence

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,booking_number,total_charges
0,Resort Hotel,0.0,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,...,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,7/1/15,1000000.0,0.00
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,...,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,7/1/15,1000001.0,0.00
2,Resort Hotel,0.0,7.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,...,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,7/2/15,1000002.0,75.00
3,Resort Hotel,0.0,13.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,...,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,7/2/15,1000003.0,75.00
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,1.0,0.0,2.0,2.0,...,NaN,0.0,Transient,98.00,0.0,1.0,Check-Out,7/3/15,1000004.0,196.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0.0,23.0,2017.0,August,35.0,30.0,2.0,5.0,2.0,...,NaN,0.0,Transient,96.14,0.0,0.0,Check-Out,9/6/17,9999999.0,672.98
119386,City Hotel,0.0,102.0,2017.0,August,35.0,31.0,2.0,5.0,3.0,...,NaN,0.0,Transient,225.43,0.0,2.0,Check-Out,9/7/17,1119386.0,100000.00
119387,City Hotel,0.0,34.0,2017.0,August,35.0,31.0,2.0,5.0,2.0,...,NaN,0.0,Transient,157.71,0.0,4.0,Check-Out,9/7/17,1119387.0,1103.97
119388,City Hotel,0.0,109.0,2017.0,August,35.0,31.0,2.0,5.0,2.0,...,NaN,0.0,Transient,104.40,0.0,0.0,Check-Out,9/7/17,1119388.0,730.80
119389,City Hotel,0.0,205.0,2017.0,August,35.0,29.0,2.0,7.0,2.0,...,NaN,0.0,Transient,151.20,0.0,2.0,Check-Out,9/7/17,1119389.0,1360.80

#Step 5: Set up an indicator variable to identify the falsified records.
* Create a new variable in the `hotel_evidence` DataFrame called `is_false`.
* Assign `is_false` to be `0` for every record in the DataFrame.
* Later, when we discover a falsified record, we will change the value of `is_false` to `1` for that record.
* If you run `hotel_evidence['is_false'].describe()`, your results should look like this: 
```
count    119390.0
mean          0.0
std           0.0
min           0.0
25%           0.0
50%           0.0
75%           0.0
max           0.0
Name: is_false, dtype: float64
```

In [ ]:
#Step 5
hotel_evidence['is_false'] = 0

hotel_evidence['is_false'].describe()

count    119390.0
mean          0.0
std           0.0
min           0.0
25%           0.0
50%           0.0
75%           0.0
max           0.0
Name: is_false, dtype: float64

In [ ]:
hotel_evidence

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,booking_number,total_charges
0,Resort Hotel,0.0,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,...,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,7/1/15,1000000.0,0.00
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,...,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,7/1/15,1000001.0,0.00
2,Resort Hotel,0.0,7.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,...,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,7/2/15,1000002.0,75.00
3,Resort Hotel,0.0,13.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,...,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,7/2/15,1000003.0,75.00
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,1.0,0.0,2.0,2.0,...,NaN,0.0,Transient,98.00,0.0,1.0,Check-Out,7/3/15,1000004.0,196.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0.0,23.0,2017.0,August,35.0,30.0,2.0,5.0,2.0,...,NaN,0.0,Transient,96.14,0.0,0.0,Check-Out,9/6/17,9999999.0,672.98
119386,City Hotel,0.0,102.0,2017.0,August,35.0,31.0,2.0,5.0,3.0,...,NaN,0.0,Transient,225.43,0.0,2.0,Check-Out,9/7/17,1119386.0,100000.00
119387,City Hotel,0.0,34.0,2017.0,August,35.0,31.0,2.0,5.0,2.0,...,NaN,0.0,Transient,157.71,0.0,4.0,Check-Out,9/7/17,1119387.0,1103.97
119388,City Hotel,0.0,109.0,2017.0,August,35.0,31.0,2.0,5.0,2.0,...,NaN,0.0,Transient,104.40,0.0,0.0,Check-Out,9/7/17,1119388.0,730.80
119389,City Hotel,0.0,205.0,2017.0,August,35.0,29.0,2.0,7.0,2.0,...,NaN,0.0,Transient,151.20,0.0,2.0,Check-Out,9/7/17,1119389.0,1360.80

#Step 6: Investigate the hotel booking numbers.
* [Benford's Law](https://www.statisticshowto.com/benfords-law/) tells us that in a group of numbers (such as record numbers or numbers on forms), the leading digit is most likely to be 1, followed by 2, then 3, then 4, etc.
* We should be suspicious of any records we observe that don't fit that pattern (and in fact, [forgers really are caught that way](https://www.journalofaccountancy.com/issues/2017/apr/excel-and-benfords-law-to-detect-fraud.html)). 
* Examine the distribution of `hotel_evidence['booking_number']` and determine the record that doesn't fit the pattern of the numbering system
* You could use `.describe()`, `.value_counts()`, create a boxplot or histogram, or choose your own function.

In [ ]:
hotel_evidence['booking_number'].head()

0    1000000.0
1    1000001.0
2    1000002.0
3    1000003.0
4    1000004.0
Name: booking_number, dtype: float64

In [ ]:
#Step 6
hotel_evidence['booking_number'].describe()

count    1.193890e+05
mean     1.059769e+06
std      4.309612e+04
min      1.000000e+06
25%      1.029848e+06
50%      1.059695e+06
75%      1.089542e+06
max      9.999999e+06
Name: booking_number, dtype: float64

In [ ]:
hotel_evidence['booking_number'].value_counts()

1000000.0    1
1079590.0    1
1079602.0    1
1079601.0    1
1079600.0    1
            ..
1039793.0    1
1039792.0    1
1039791.0    1
1039790.0    1
1119389.0    1
Name: booking_number, Length: 119389, dtype: int64

#Step 7: Identify the record with the falsified booking number.
* Run the code below to use the [`.loc` function](https://datatofish.com/if-condition-in-pandas-dataframe/) to identify the record with the falsified booking number (this will serve as a template for identifying later records). 
* This will change the value of the `is_falsified` indicator to `1` for this record.
* You are welcome to use a different method of your choice to identify the record and change `is_falsified` to `1`.

In [ ]:
#Step 7
## There are only 52 weeks in a year, so week 75 is clearly false
hotel_evidence.loc[hotel_evidence['arrival_date_week_number'] < 53, 'is_false'] = 0
hotel_evidence.loc[hotel_evidence['arrival_date_week_number'] >= 53, 'is_false'] = 1

In [ ]:
hotel_evidence.loc[hotel_evidence['arrival_date_week_number'] == 75]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,booking_number,total_charges,is_false
19085,Resort Hotel,0.0,11.0,2015.0,December,75.0,5.0,2.0,1.0,2.0,...,0.0,Transient-Party,68.0,0.0,0.0,Check-Out,12/8/15,1019085.0,204.0,1.0

#Step 8: Checking datesâ€”how many weeks are in a year?
* Take a close look at `arrival_date_week_number`.  Does anything look suspicious here?  You can use `.describe()`, `.value_counts()` or any other method of your choice.
* Identify the falsified record and change the value of `is_falsified` to `1`.

In [ ]:
hotel_evidence['arrival_date_week_number'].describe()

count    119389.000000
mean         27.165384
std          13.605753
min           1.000000
25%          16.000000
50%          28.000000
75%          38.000000
max          75.000000
Name: arrival_date_week_number, dtype: float64

In [ ]:
#Step 8
hotel_evidence['arrival_date_week_number'].value_counts()

33.0    3580
30.0    3087
32.0    3045
34.0    3040
18.0    2926
21.0    2854
28.0    2852
17.0    2805
20.0    2785
29.0    2763
42.0    2756
31.0    2741
41.0    2699
15.0    2689
27.0    2664
25.0    2663
38.0    2661
23.0    2621
35.0    2593
39.0    2581
22.0    2546
24.0    2498
13.0    2416
16.0    2405
19.0    2402
40.0    2397
26.0    2391
43.0    2352
44.0    2272
14.0    2264
37.0    2229
8.0     2216
36.0    2167
10.0    2149
9.0     2117
7.0     2109
12.0    2083
11.0    2070
45.0    1941
53.0    1816
49.0    1781
47.0    1685
46.0    1574
6.0     1508
50.0    1505
48.0    1504
4.0     1487
5.0     1387
3.0     1319
2.0     1218
52.0    1195
1.0     1047
51.0     933
75.0       1
Name: arrival_date_week_number, dtype: int64

In [ ]:
hotel_evidence.loc[hotel_evidence['arrival_date_week_number'] == 75]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,booking_number,total_charges,is_false
19085,Resort Hotel,0.0,11.0,2015.0,December,75.0,5.0,2.0,1.0,2.0,...,0.0,Transient-Party,68.0,0.0,0.0,Check-Out,12/8/15,1019085.0,204.0,1

#Step 9: 30 days hath September...
* Take a close look at `arrival_date_day_of_month`.  Does anything look suspicious here?  Probably not yet...
* Now look at the distribution of dates by month.  You could use  [`pd.crosstab.()`](https://pbpython.com/pandas-crosstab.html).  Scroll to the bottom.  Anything suspicious here?
* Identify the falsified record and change the value of `is_falsified` to `1`.  You may want to review [this article](https://datatofish.com/if-condition-in-pandas-dataframe/) for help incorporating two conditions into your `.loc` statement.

In [ ]:
#Step 9
pd.crosstab(hotel_evidence.arrival_date_day_of_month, hotel_evidence.arrival_date_month)

arrival_date_month,April,August,December,February,January,July,June,March,May,November,October,September
arrival_date_day_of_month,,,,,,,,,,,,
1.0,236,502,231,215,172,479,361,267,296,269,305,293
2.0,198,337,257,200,362,373,520,495,437,220,354,302
3.0,331,503,272,206,186,348,416,245,306,299,410,333
4.0,336,389,210,259,173,432,297,300,396,306,341,324
5.0,367,460,590,217,145,300,281,315,531,274,412,425
6.0,466,381,158,327,161,457,368,224,349,223,468,251
7.0,324,472,146,207,132,409,294,277,285,477,376,266
8.0,382,555,431,159,169,355,537,214,369,141,293,316
9.0,502,351,268,221,131,431,446,353,388,158,424,422
10.0,306,493,180,266,145,343,334,283,311,197,463,254
11.0,325,437,89,233,101,457,317,355,336,281,284,384
12.0,291,491,121,494,207,372,404,246,422,211,464,364
13.0,419,465,96,376,140,404,250,317,420,185,442,231
14.0,428,632,116,255,340,322,388,293,319,181,268,277
15.0,389,527,123,236,150,508,481,333,507,123,385,434
16.0,331,448,185,207,260,432,333,296,357,205,637,387
17.0,331,531,160,496,106,471,560,334,385,241,339,452
18.0,343,507,110,211,279,489,281,320,316,380,252,514
19.0,319,419,188,382,270,257,308,355,580,195,354,425
20.0,382,467,116,281,148,407,373,411,473,280,356,338
21.0,369,388,136,212,176,426,295,337,347,269,378,434
22.0,486,424,197,278,223,458,282,247,328,115,263,295
23.0,340,321,190,238,242,483,327,274,294,317,291,299
24.0,298,459,214,256,123,406,440,487,487,189,296,338
25.0,260,486,140,470,270,518,260,369,416,238,303,430
26.0,443,458,276,429,183,323,413,233,457,176,253,502
27.0,376,415,338,344,305,470,386,288,229,213,247,191
28.0,553,462,249,296,197,356,357,257,322,179,475,243
29.0,596,398,318,96,157,367,254,273,330,129,369,293
30.0,362,322,476,0,169,442,376,345,427,123,320,491
31.0,0,377,199,1,107,365,0,451,371,0,338,0

In [ ]:
hotel_evidence.loc[(hotel_evidence['arrival_date_month'] == 'Febuary') & (hotel_evidence['arrival_date_day_of_month'] == 29), 'is_false'] = 1

In [ ]:
hotel_evidence.loc[(hotel_evidence['arrival_date_month'] == 'Febuary') & (hotel_evidence['arrival_date_day_of_month'] == 31), 'is_false'] = 1

In [ ]:

hotel_evidence.loc[(hotel_evidence['arrival_date_month'] == 'February') &
                    (hotel_evidence['arrival_date_day_of_month'] > 28), 'is_false'] = 1

hotel_evidence[(hotel_evidence['arrival_date_month'] == 'February') &
               (hotel_evidence['arrival_date_day_of_month']> 28)][['arrival_date_month','arrival_date_day_of_month' , 'is_false' ]].head(10)

      arrival_date_month  arrival_date_day_of_month  is_false
4272            February                       29.0       1.0
4273            February                       29.0       1.0
4274            February                       29.0       1.0
14129           February                       29.0       1.0
14455           February                       29.0       1.0
19902           February                       29.0       1.0
19981           February                       29.0       1.0
21323           February                       29.0       1.0
21479           February                       29.0       1.0
21481           February                       29.0       1.0

In [ ]:
# hotel_evidence[['arrival_date_day_of_month', 'arrival_date_month', 'arrival_date_year']].head()

#Step 10: Unaccompanied Minors 
* Howie wouldn't let a bunch of unaccompanied babies book a stay, would he?
* Use `pd.crosstab.()` or another method of your choice to see if any children or babies booked a stay without adults.
* Identify the falsified record and change the value of `is_falsified` to `1`.

In [ ]:
hotel_evidence['adults'].value_counts()

2.0     89678
1.0     23027
3.0      6202
0.0       404
4.0        62
26.0        5
27.0        2
20.0        2
5.0         2
40.0        1
50.0        1
55.0        1
6.0         1
10.0        1
Name: adults, dtype: int64

In [ ]:
#Step 10
pd.crosstab(hotel_evidence.children, hotel_evidence.adults)

adults,0.0,1.0,2.0,3.0,4.0,5.0,6.0,10.0,20.0,26.0,27.0,40.0,50.0,55.0
children,,,,,,,,,,,,,,
0.0,181,22587,82277,5675,60,2,1,1,2,5,2,1,1,1
1.0,4,279,4089,487,2,0,0,0,0,0,0,0,0,0
2.0,208,157,3247,39,0,0,0,0,0,0,0,0,0,0
3.0,11,4,61,0,0,0,0,0,0,0,0,0,0,0
10.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
hotel_evidence.loc[hotel_evidence['adults'] == 0, 'is_false'] = 1

In [ ]:
hotel_evidence.loc[hotel_evidence['adults'] == 0]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,booking_number,total_charges,is_false
2224,Resort Hotel,0.0,1.0,2015.0,October,41.0,6.0,0.0,3.0,0.0,...,0.0,Transient-Party,0.00,0.0,0.0,Check-Out,10/6/15,1002224.0,0.00,1
2409,Resort Hotel,0.0,0.0,2015.0,October,42.0,12.0,0.0,0.0,0.0,...,0.0,Transient,0.00,0.0,0.0,Check-Out,10/12/15,1002409.0,0.00,1
3181,Resort Hotel,0.0,36.0,2015.0,November,47.0,20.0,1.0,2.0,0.0,...,0.0,Transient-Party,0.00,0.0,0.0,Check-Out,11/23/15,1003181.0,0.00,1
3684,Resort Hotel,0.0,165.0,2015.0,December,53.0,30.0,1.0,4.0,0.0,...,122.0,Transient-Party,0.00,0.0,0.0,Check-Out,1/4/16,1003684.0,0.00,1
3708,Resort Hotel,0.0,165.0,2015.0,December,53.0,30.0,2.0,4.0,0.0,...,122.0,Transient-Party,0.00,0.0,0.0,Check-Out,1/5/16,1003708.0,0.00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117204,City Hotel,0.0,296.0,2017.0,July,30.0,27.0,1.0,3.0,0.0,...,0.0,Transient,98.85,0.0,1.0,Check-Out,7/31/17,1117204.0,395.40,1
117274,City Hotel,0.0,276.0,2017.0,July,31.0,30.0,2.0,1.0,0.0,...,0.0,Transient,93.64,0.0,2.0,Check-Out,8/2/17,1117274.0,280.92,1
117303,City Hotel,0.0,291.0,2017.0,July,30.0,29.0,2.0,2.0,0.0,...,0.0,Transient,98.85,0.0,1.0,Check-Out,8/2/17,1117303.0,395.40,1
117453,City Hotel,0.0,159.0,2017.0,July,31.0,31.0,1.0,3.0,0.0,...,0.0,Transient,121.88,0.0,1.0,Check-Out,8/4/17,1117453.0,487.52,1
118200,City Hotel,0.0,10.0,2017.0,August,32.0,12.0,2.0,2.0,0.0,...,0.0,Transient-Party,6.00,0.0,1.0,Check-Out,8/16/17,1118200.0,24.00,1

#Step 11: Eight Days a Week
* All of these records are *supposed to* document stays of consecutive days.  So if someone stayed for six weekdays, they should have stayed for at least two weekend days.  If someone stayed for 3 or more weekend days, there ought to be some weekdays in there, too.
* Use `pd.crosstab.()` or another method of your choice to find the **two** records that don't fit this pattern.
* Identify the two falsified records and change the value of `is_falsified` for both to `1`.

In [ ]:
#Step 11
pd.crosstab(hotel_evidence.stays_in_weekend_nights, hotel_evidence.stays_in_week_nights)

stays_in_week_nights,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,26.0,30.0,32.0,33.0,34.0,35.0,40.0,41.0,42.0,50.0
stays_in_weekend_nights,,,,,,,,,,,,,,,,,,,,,
0.0,715,16451,17955,11564,4482,830,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1.0,4569,7326,8979,6152,2412,1188,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2.0,2361,6533,6749,4542,2669,8655,851,446,393,81,...,0,0,0,0,0,0,0,0,0,0
3.0,0,0,0,0,0,310,301,399,131,63,...,0,0,0,0,0,0,0,0,0,0
4.0,0,0,0,0,0,94,347,184,132,87,...,0,0,0,0,0,0,0,0,0,0
5.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8.0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12.0,0,0,0,0,0,0,0,0,0,0,...,1,4,0,0,0,0,0,0,0,0
13.0,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,0,0,0,0,0
14.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
16.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,1,0,0
18.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
## All bookings with ZERO weeks and weekends stays are automatically false

hotel_evidence.loc[(hotel_evidence['stays_in_week_nights'] == 0) &
                    (hotel_evidence['stays_in_weekend_nights'] == 0), 'is_false'] = 1

hotel_evidence[(hotel_evidence['stays_in_week_nights'] == 0) &
               (hotel_evidence['stays_in_weekend_nights'] == 0)][['stays_in_week_nights','stays_in_weekend_nights' , 'is_false' ]].head(10)

     stays_in_week_nights  stays_in_weekend_nights  is_false
0                     0.0                      0.0       1.0
1                     0.0                      0.0       1.0
167                   0.0                      0.0       1.0
168                   0.0                      0.0       1.0
196                   0.0                      0.0       1.0
197                   0.0                      0.0       1.0
459                   0.0                      0.0       1.0
568                   0.0                      0.0       1.0
569                   0.0                      0.0       1.0
618                   0.0                      0.0       1.0

In [ ]:
hotel_evidence.loc[(hotel_evidence['stays_in_week_nights'] >= 6.0) &
                   (hotel_evidence['stays_in_weekend_nights'] < 2.0) |
                   (hotel_evidence['stays_in_weekend_nights'] >= 3.0) &
                   (hotel_evidence['stays_in_week_nights'] < 1.0), 'is_false'] = 1

#Step 12: Money, money, money
* The `total_charges` column *should be* equal to the average daily rate (`adr`) times (`stays_in_weekend_nights` + `stays_in_week_nights`).  There are five(!) records where this isn't the case.
* Identify these five records and change the value of `is_falsified` to `1` for each.
* You may use any strategy you like or follow the guided steps in the code block below.

In [ ]:
hotel_evidence.loc[hotel_evidence['booking_number'] == 35213, 'is_false'] = 1

In [ ]:
#Step 12

#Re-calculate total charges by multiplying adr * (weeknight stays + weekend stays)
#We'll round our answer to two decimals.  Sometimes when try to compare unrounded calculations
#in Python, Python will "think" they are unequal when they aren't.  You can try repeating the exercise
#without rounding to see what happens

hotel_evidence['check'] = round(hotel_evidence['adr']* (hotel_evidence['stays_in_week_nights'] + hotel_evidence['stays_in_weekend_nights']),2)

#Round the total charges variable as well

hotel_evidence['total_charges_rounded'] = round(hotel_evidence['total_charges'],2)

#Print the 5 records where the calculated charges don't match what is recorded in the spreadsheet
print(hotel_evidence[hotel_evidence['check'] != hotel_evidence['total_charges_rounded']])

#Identify the records 
hotel_evidence.loc[ hotel_evidence['check'] != hotel_evidence['total_charges_rounded'], ['is_false']] = 1

               hotel  is_canceled  lead_time  arrival_date_year  \
232              NaN          NaN        NaN                NaN
35213   Resort Hotel          0.0       11.0             2017.0
112930    City Hotel          0.0      223.0             2017.0
118963    City Hotel          0.0        1.0             2017.0
119386    City Hotel          0.0      102.0             2017.0

       arrival_date_month  arrival_date_week_number  \
232                   NaN                       NaN
35213               April                      15.0
112930                May                      20.0
118963             August                      35.0
119386             August                      35.0

        arrival_date_day_of_month  stays_in_weekend_nights  \
232                           NaN                      NaN
35213                        11.0                      0.0
112930                       16.0                      0.0
118963                       27.0                      0.0
119386                       31.0                      2.0

        stays_in_week_nights  adults  ...     adr  \
232                      NaN     NaN  ...     NaN
35213                    5.0     2.0  ...   82.85
112930                  11.0     2.0  ...   78.35
118963                   0.0     2.0  ...    0.00
119386                   5.0     3.0  ...  225.43

        required_car_parking_spaces total_of_special_requests  \
232                             NaN                       NaN
35213                           0.0                       1.0
112930                          0.0                       1.0
118963                          0.0                       0.0
119386                          0.0                       2.0

       reservation_status reservation_status_date booking_number  \
232                   NaN                     NaN            NaN
35213           Check-Out                 4/16/17      1035213.0
112930          Check-Out                 5/31/17      1112930.0
118963          Check-Out                 8/27/17      1118963.0
119386          Check-Out                  9/7/17      1119386.0

        total_charges  is_false    check total_charges_rounded
232            292.00       1.0      NaN                292.00
35213         1000.00       1.0   414.25               1000.00
112930        1175.25       1.0   861.85               1175.25
118963         800.00       1.0     0.00                800.00
119386      100000.00       1.0  1578.01             100000.00

[5 rows x 37 columns]

#Step 13: Case closed 
* Create a subset of `hotel_evidence` that only includes records where `is_falsified = 1`.  Name this subset `false_records`.
* Add up all the `total_charges` (the one given in `hotel_evidence`, not the one we calculated in the last step) to see how much endangered baby rhino money Howie laundered.

In [ ]:
#Step 13
false_records = df[(df.is_false == 1)]

false_records['variable of interest'].sum()

In [ ]:
hotel_evidence['is_false'].value_counts()

0.0    116766
1.0      2624
Name: is_false, dtype: int64

In [ ]:
hotel_evidence.loc[hotel_evidence['is_false'] == 1, 'total_charges'].sum()

794317.8999999999

In [ ]:
''' 

    From the hidden week number 75,
    The extra reported days in Febuary,
    The rooms booked by minors without adults,
    The hidden days of the week/weekend,
    And the ADR's five records

    The total laundered money through the hotel equals 
    
    $794,317.89

'''

#Step 14: Evidence
* Compile your evidence for a jury.  Create a table or other summary that includes the booking number for each falsified record as well as the evidence you found to show that the record was falsified. 
* Make sure to include the total amount of endangered baby rhino money that Howie laundered.